*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

nav{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top-nav{

    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.nav-icons{
    display: flex;
    gap: 10px;
}
.nav-icons i{
    font-size: 4vh;
}

.search-container{
    flex-direction: row;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 3vh;
    color: black;
}

.search-container  i{
    color: black;
    font-size: 3vh;
}

.search-bar{
    background-color: rgb(210, 221, 221);
    padding: 8px;
    border-radius: 20px;
    align-items: center;
}

.search-bar input{
    font-size: 3vh;
    border: none;
    outline: none;
    background-color: transparent;
}

.main-container{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    padding-bottom: 50px;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.data{
    background-color: #3d3d3d;;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    border-radius: 25px;
    align-items: center;
    color: #faf9f6;
}

.data-left{
    flex-direction: row;
    display: flex;
    gap: 15px;
    align-items: center;
}

.data-left img{
    height: 100px;
    width: 100px;
    border-radius: 25px 0 0 25px;
}

.data-right{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    gap: 30px;
    align-items: end;
}

.data-right button{
    color: #faf9f6;
    font-size: 30px;
}